*.pyc
.idea
*.sqlite3
*.git
/conf
__pycache__
superhotel/.idea/workspace.xml
superhotel/mainapp/__pycache__/urls.cpython-37.pyc
superhotel/mainapp/__pycache__/urls.cpython-37.pyc
superhotel/mainapp/__pycache__/urls.cpython-37.pyc
superhotel/.idea/workspace.xml
