
<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Residencia El Balata</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta content='Virginia y Pedro son una pareja Italo-Dominicana, juntos con sus hijos pequeños viven y dirigen este hotel con encanto. El Balata, refleja claramente la unión de estas dos familias de diferentes culturas y estilos, pero en completa armonía creando un pequeño hotel sin precedentes en el Caribe.&#x000A;&#x000A;'
          name='description'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" media="screen" href="{% static 'public-f6ccfa2f22ed0069d927e67be1fddc44.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'public.css' %} "/>
    <link rel="stylesheet" media="print" href="{% static 'public-print-f785708b5849f5f94a6a787a67fe4952.css' %} "/>
    <meta name="csrf-param" content="authenticity_token"/>
    <meta name="csrf-token"
          content="UENh4MFnwXRSowg3jlH25Ki65IrHb2BuuiyHi3NGjjQTRGFHD32EZ1Bq6FI8RuIL8nknlkbbi8LHb2PVY1HzWQ=="/>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>


<div id='main'>
    <div id='banner'>
        {% if headerPhoto %}
            <form class="form-horizontal" action="{% url 'main:dataFromInputBooking' %}" method="post">
                    {{ headerPhoto.as_p }}
            </form>
        {% else %}    
        <img
            src="https://photos-app-prod.littlehotelier.com/attachments/properties/banners/9012/standard/20180710_141615.jpg?1531354274"
            alt="20180710 141615"/>
        {% endif %}    

        </div>
    <div id='content'>
        <div class='overview'>
            <div class='header'>
                 <!-- <h1><input type="text" placeholder="Отель Победа"></h1> -->
                <label for="inp" class="inp">
                 <form class="form-horizontal" action="{% url 'main:dataFromInputBooking' %}" method="post">
                    {{ nameOfHotel_form.as_p }}
                     <span class="label">El Balata</span>
                     <span class="border"></span>
                </form>
                </label>
                </dl>
               <h3>Выберите количество звезд</h3>
               <!--  {% for choice in starsForm.choises %}
                    <div>
                        {{ choice }}
                    </div>
                {% endfor %} -->

                <form class="form-horizontal" action="{% url 'main:dataFromInputBooking' %}" method="post">
                    {{ starsForm.as_p }}
                </form>
                <div class='top-right'>
                    <!-- <div class='locale_switcher'>
                        <ul>
                            <li>
                                <dl>
                                    <dt>
                                        Выбрать язык
                                        <span class='flag-icon flag-icon-en'></span>
                                    </dt>
                                    {% for choice in languageForm.choises %}
                                         <dd>
                                            <a href="{% url 'main:booking' choice %}">{{ choice }}</a>
                                        </dd>
                                    {% endfor %}
                                </dl>
                            </li>
                        </ul> -->

                    </div>

                    <div class='website'>
                        <a class='website_url' href='{% url "main:main_page" %}'
                           title='Return to main website'>Вернуться на главную страницу</a>
                    </div>

                </div>
            </div>
            <div class='availability'>
                <table cellspacing='0' class='no-margin rates-header'>
                    <thead class='controls'>
                        <!-- Так и не понял для чего этот нужен быть input -->
                    <form action="/properties/resielbalatadirect?locale=en" accept-charset="UTF-8" method="get"><input
                                name="utf8" type="hidden" value="&#x2713;"/>
                        <input type="hidden" name="locale" id="locale" value="en"/>
                                </form>
                                </table>
                            </th>
                        </tr>
                    </thead>
                </table>
                <table cellspacing='0' class='rates' id='rates'>

                    <tbody>

                    
                     <tr>
                        <!-- Здесь я думаю использовать formset -->
                        <!-- TODO здесь возникли сложности  -->
                        <td class="room_name">
                            <form class="form-horizontal" action="{% url 'main:dataFromInputBooking' %}" method="post">
                                {{ nameOfRoom.as_p }}
                                <table class="table">
                                    {{ roomitems.management_form }}
                                    {% for form in roomitems.forms %}
                                        {% if forloop.first %}
                                            <thead>
                                                <tr>
                                                    {% for field in form.visible_fields %}
                                                        <th class="{% cycle 'td1' 'td2' 'td3' %}" orderformset_td>
                                                            {{ field.label|caplist }}

                                                        </th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>

                                        {% endif %}
                                        <tr class="formset_row">
                                            {% for field in form.visible_vields %}
                                                <td class="{% cycle 'td1' 'td2' 'td3' %}" orderformset_td>
                                                            {% if forloop.first %}
                                                                {% for hidden in form.hidden_fields %}
                                                                    {{ hidden }}
                                                                {% endfor %}
                                                            {% endif %}
                                                            {{ field.errors.as_ul }}
                                                            {{ field }}

                                                        </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                                    <button type="submit" value="Сохранить" class="btn btn-default btn-round form-control-last">Сохранить</button>
                            </form>
                        </td>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th class='bottom_left_corner bottom_right_corner' colspan='17'>
                            <em>Наведите указатель мыши на цену для включения, размещения и минимального пребывания</em>
                        </th>
                    </tr>
                    </tfoot>
                </table>
                <script id='tool_tip_template' type='text/x-jquery-tmpl'>


                </script>


            </div>
            <div class='property'>
                <h2>Информация об отеле</h2>
                <div class='location'>
                    <div class='vcard'>
                        <div class='fn org'>
                            <strong>Информация об отеле
                                <form class="form-horizontal" action="{% url 'main:dataFromInputBooking' %}" method="post">
                                    {{ nameOfHotelInfo.as_p }}
                                </form>
                            </strong>
                        </div>
                        <div class='phone'> Телефон
                            <span class='tel'><form class="form-horizontal" action="{% url 'main:dataFromInputBooking' %}" method="post">
                                {{ telephoneNumberForm.as_p }}</span>
                        </form>
                        </div>
                        <div class='adr'>
                            <div class='street-address'> Адрес
                                <form class="form-horizontal" action="{% url 'main:dataFromInputBooking' %}" method="post">
                                {{ addressForm.as_p }}</form>
                                <br>

                            </div>
                            <div>
                                <span class='locality'> местонахождение
                                    <form class="form-horizontal" action="{% url 'main:dataFromInputBooking' %}" method="post">
                                {{ localityForm.as_p }}</form></span>
                                <span class='region'> регион
                                    <form class="form-horizontal" action="{% url 'main:dataFromInputBooking' %}" method="post">
                                {{ regionForm.as_p }}</form> </span>
                                <span class='postal-code'> Почтовый код <form class="form-horizontal" action="{% url 'main:dataFromInputBooking' %}" method="post">
                                {{ postal_codeForm.as_p }}</form></span>
                            </div>
                        </div>
                        <div class='website'>
                            <a class='website_url' href='{% url "main:main_page" %}'
                               title='Вернуться на главную'>Вернуться на главную</a>
                        </div>

                    </div>
                    <div class='actions'>
                        <h3>Сслыка на карту Гугл</h3>
                        <form class="form-horizontal" action="{% url 'main:dataFromInputBooking' %}" method="post">
                                {{ mapLinkForm.as_p }}</form>
                        </a><a class="contact_us" href="{% url 'main:contact' %}"><i class='fa fa-envelope-o'></i>
                        Контакты
                    </a></div>
                </div>
                <div class='main'>
                    <div class='photo_overlay overlay' id='property_overlay'>
                        <div class='header'>
                            <h3>{{ hotelName }}</h3>
                        </div>
                        <div class='hero'>
                            <div class='thumbs'>
                                
                                    Добавте фото
                                <form class="form-horizontal" action="{% url 'main:dataFromInputBooking' %}" method="post">
                                    {{ uploadPhotoInfoForm.as_p }}
                                </form>

                            </div>
                    <div class='description'>
                        <form class="form-horizontal" action="{% url 'main:dataFromInputBooking' %}" method="post">
                                {{ longDescriptionOfHotel.as_p }}</form>
                    </div>
                    <div class='features'>
                        <h3>Удобства</h3>
                        <ol>
                            <li class='feature'>
                                <form class="form-horizontal" action="{% url 'main:dataFromInputBooking' %}" method="post">
                                    {{ featureForm.as_p }}
                                </form>
                            </li>
                    </div>
                </div>
                <h2>Детали размещения</h2>
                {% if rooms %}
                    {% for room in rooms %}
                    <div class="room">
                        <div class='header'>
                                <h4>{{ room.name }}</h4>
                            </div>
                          <div class='description_features'>
                            <div class='description'>
                                <h3>
                                    <a class="book dynamic"
                                       href="{% url 'main:roomView' id %}"><span
                                            class='fa fa-chevron-circle-right'></span>
                                        Бронь
                                    </a></h3>
                            </div>
                            <div class='features'>
                                <ol>
                                    {% for feature in room %}
                                        <li class='feature'>{{ feature }}</li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>    

                    </div>

                    {% endfor %}
                {% endif %}
                <div class='rooms'>
                    <!--<div class='room' id='room_107199'>-->
                        <!--<div class='photo_overlay overlay' data-id='room_107199'>-->
                            <!--<div class='header'>-->
                                <!--<h3>Residencia El Balata</h3>-->
                                <!--<h4>Habitación Economy Standard </h4>-->
                            <!--</div>-->
                            <!--<div class='hero'>-->
                                <!--<div class='thumbs'>-->
                                    <!--<ul class='carousel-thumb'>-->
                                        <!--<li class='photo'>-->
                                            <!--<a data-slide-index="0" href="#"><img alt="Habitación Economy Standard "-->
                                                                                  <!--data-src="https://photos-app-prod.littlehotelier.com/attachments/photos/images/RoomType/000/148/667/thumb/20180525_161001_1_.jpg?1527303679"-->
                                                                                  <!--src="/assets/placeholder-ec51415fcec5fc700429a07859b31264.png"-->
                                                                                  <!--width="100" height="100"/>-->
                                            <!--</a></li>-->
                                        <!--<li class='photo'>-->
                                            <!--<a data-slide-index="1" href="#"><img alt="Habitación Economy Standard "-->
                                                                                  <!--data-src="https://photos-app-prod.littlehotelier.com/attachments/photos/images/RoomType/000/148/668/thumb/20180525_161035_1_.jpg?1527303748"-->
                                                                                  <!--src="/assets/placeholder-ec51415fcec5fc700429a07859b31264.png"-->
                                                                                  <!--width="100" height="100"/>-->
                                            <!--</a></li>-->
                                        <!--<li class='photo'>-->
                                            <!--<a data-slide-index="2" href="#"><img alt="Habitación Economy Standard "-->
                                                                                  <!--data-src="https://photos-app-prod.littlehotelier.com/attachments/photos/images/RoomType/000/148/669/thumb/20180525_161344_1_.jpg?1527303825"-->
                                                                                  <!--src="/assets/placeholder-ec51415fcec5fc700429a07859b31264.png"-->
                                                                                  <!--width="100" height="100"/>-->
                                            <!--</a></li>-->
                                        <!--<li class='photo'>-->
                                            <!--<a data-slide-index="3" href="#"><img alt="Habitación Economy Standard "-->
                                                                                  <!--data-src="https://photos-app-prod.littlehotelier.com/attachments/photos/images/RoomType/000/148/670/thumb/20180525_161512_1_.jpg?1527303917"-->
                                                                                  <!--src="/assets/placeholder-ec51415fcec5fc700429a07859b31264.png"-->
                                                                                  <!--width="100" height="100"/>-->
                                            <!--</a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                                <!--<span class='edge'></span>-->
                                <!--<span class='container'>-->
<!--<ul class='carousel-standard'>-->
<!--<a href="#"><li class='photo'><img alt="Habitación Economy Standard "-->
                                   <!--data-src="https://photos-app-prod.littlehotelier.com/attachments/photos/images/RoomType/000/148/667/standard/20180525_161001_1_.jpg?1527303679"-->
                                   <!--src="/assets/placeholder-ec51415fcec5fc700429a07859b31264.png" width="400"-->
                                   <!--height="225"/></li>-->
<!--</a><a href="#"><li class='photo'><img alt="Habitación Economy Standard "-->
                                       <!--data-src="https://photos-app-prod.littlehotelier.com/attachments/photos/images/RoomType/000/148/668/standard/20180525_161035_1_.jpg?1527303748"-->
                                       <!--src="/assets/placeholder-ec51415fcec5fc700429a07859b31264.png" width="400"-->
                                       <!--height="225"/></li>-->
<!--</a><a href="#"><li class='photo'><img alt="Habitación Economy Standard "-->
                                       <!--data-src="https://photos-app-prod.littlehotelier.com/attachments/photos/images/RoomType/000/148/669/standard/20180525_161344_1_.jpg?1527303825"-->
                                       <!--src="/assets/placeholder-ec51415fcec5fc700429a07859b31264.png" width="400"-->
                                       <!--height="225"/></li>-->
<!--</a><li class='photo'><img alt="Habitación Economy Standard "-->
                           <!--data-src="https://photos-app-prod.littlehotelier.com/attachments/photos/images/RoomType/000/148/670/standard/20180525_161512_1_.jpg?1527303917"-->
                           <!--src="/assets/placeholder-ec51415fcec5fc700429a07859b31264.png" width="400"-->
                           <!--height="225"/></li>-->
<!--</ul>-->
<!--</span>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class='photo'>-->
                            <!--<a rel=".photo_overlay[data-id=room_107199]" class="photo_small" href="#"><img-->
                                    <!--alt="Habitación Economy Standard "-->
                                    <!--src="https://photos-app-prod.littlehotelier.com/attachments/photos/images/RoomType/000/148/667/thumb/20180525_161001_1_.jpg?1527303679"/>-->
                            <!--</a><a rel=".photo_overlay[data-id=room_107199]" class="photos" href="#">Photos</a>-->
                        <!--</div>-->
                        <!--<div class='description_features'>-->
                            <!--<div class='description'>-->
                                <!--<h3>-->
                                    <!--Habitación Economy Standard-->
                                    <!--<a class="book dynamic"-->
                                       <!--href="/reservations/resielbalatadirect/107199?locale=en"><span-->
                                            <!--class='fa fa-chevron-circle-right'></span>-->
                                        <!--Book-->
                                    <!--</a></h3>-->
                                <!--<p>Actualice por favor</p>-->
                            <!--</div>-->
                            <!--<div class='features'>-->
                                <!--<ol>-->
                                    <!--<li class='feature'>1 Full Bed</li>-->
                                    <!--<li class='feature'>Shower over bath</li>-->
                                    <!--<li class='feature'>Linen and Towels Provided</li>-->
                                    <!--<li class='feature'>Ceiling Fans</li>-->
                                    <!--<li class='feature'>WIFI</li>-->
                                    <!--<li class='feature'>Shower</li>-->
                                    <!--<li class='feature'>Daily Room Service</li>-->
                                    <!--<li class='feature'>Flat Screen TV</li>-->
                                    <!--<li class='feature'>Queen Bed</li>-->
                                    <!--<li class='feature'>En-Suite</li>-->
                                <!--</ol>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                </div>
                <div class='terms_conditions' id='terms_conditions'>
                    <h2>Условия</h2>
                    <p><form class="form-horizontal" action="{% url 'main:dataFromInputBooking' %}" method="post">
                                {{ termsAndConditions.as_p }}
                        </form>
                    </p>
                </div>
            </div>
        </div>


    </div>
    <div id='footer'></div>
</div>
<div id='loading'></div>
<!--<script src="/assets/public-2543e3bbf9498af7a04eb305280afed3.js"></script>-->


<div class='tip' id='room_type_date_tooltip'>
    <div class='special_header'>Hot Deal!</div>
    <table>
        <tbody></tbody>
    </table>
</div>
<div class='tip' id='extra_tooltip'></div>
<div class='tip' id='room_tooltip'></div>
</body>
</html>
