<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script type="text/javascript" src="jquery.js"></script>
</head>
<body>
    <form id="nameOfHotel">
        <input type="text" id="nameOfh" placeholder="El Balata"> <br>
    </form>

    <div id="content"></div>
     <script>
        $(document).ready(function(){

            $('#nameOfHotel').change(function(){
                $.ajax({
                    type: "POST",
                    url: "127.0.0.1/contact",
                    data: "username="+$("#username").val(),
                    success: function(html){
                        $("#content").html(html);
                    }
                });
                return false;
            });

        });
    </script>


</body>
</html>