<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    	{% block title %}{{ title|title }}{% endblock %}
    </title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/style.css">
	    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css">
    {% endblock %}

    {% block js %}{% endblock %}

</head>

<body>
    <ul>
        {% for room in rooms%}
            <li>{{ room.name }} and status: {{ room__status.is_busy }}</li>

        {% endfor %}
    </ul>

    <ul>
        {% for date in dates%}
            <li> date: {{ date }}</li>
        {% endfor %}
    </ul>

    <h4> today is  {{ today }} </h4>

    {% for status in statuses %}
        <p>room: {{ status.room }}, date: {{ status.date }}</p>
    {% endfor %}



     {% block menu %}{% endblock %}
     {% block content %}{% endblock %}
     {% block footer %}{% endblock %}

</body>
</html>