<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    	{% block title %}{{ title|title }}{% endblock %}
    </title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/style.css">
	    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css">
    {% endblock %}

    {% block js %}{% endblock %}

</head>

<body>


    <ul>
        {% for room in rooms %}
            {% for date in dates%}
                {% if date.room.order == room.order %}
                    <li> {{ date.room.name }}: date: {{ date }} is {{ date.status }}</li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>

    <h2>another try</h2>

    {{ rooms.0 }}

    {% for date in dates %}
        <p>{{ date.date_item }}</p>
    {% endfor %}


    <a href="{% url 'timetable:show table' %}"> show table</a> <br>
    <a href="{% url 'timetable:show week' %}"> show week</a>

    <h3>Here comes table</h3>
    <table>
        {% for room in rooms %}
          tr
        {% endfor %}
          <tr>
              <td>&nbsp</td>
            {% for date in dates %}
                <td>{{ date.date_item }}</td>
            {% endfor %}
          </tr>
          <tr>


                <td>{{ room.name }}</td>

          </tr>
          <tr>
            <td>Age</td>
            <td>16</td>
            <td>9</td>
            <td>10</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Owner</td>
            <td>Mother-in-law</td>
            <td>Me</td>
            <td>Me</td>
            <td>Sister-in-law</td>
          </tr>
          <tr>
            <td>Eating Habits</td>
            <td>Eats everyone's leftovers</td>
            <td>Nibbles at food</td>
            <td>Hearty eater</td>
            <td>Will eat till he explodes</td>
          </tr>
</table>
     {% block menu %}{% endblock %}
     {% block content %}{% endblock %}
     {% block footer %}{% endblock %}

</body>
</html>