<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    	{% block title %}{{ title|title }}{% endblock %}
    </title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/style.css">
	    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css">
    {% endblock %}

    {% block js %}{% endblock %}

</head>

<body>


    <ul>
        {% for room in rooms %}
            {% for date in dates%}
                {% if date.room.order == room.order %}
                    <li> {{ date.room.name }}: date: {{ date }} is {{ date.status }}</li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>



     {% block menu %}{% endblock %}
     {% block content %}{% endblock %}
     {% block footer %}{% endblock %}

</body>
</html>